@import "styles/variaveis";
@import "styles/breakpoints";

.input {
    width: calc(100px + 50vmin);

    @media(max-width: 1080px) and (min-width: $mobile) {
        width: 80%;
    }
}

.check {
    color: $texto-secundario;
    max-width: calc(100px + 50vmin);
}

.selection {
    font-size: calc(10px + 1vmin);
    color: $primary;

    @media(max-width: 1080px) and (min-width: $mobile) {
        width: 70%;
    }
}

.container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;

    &__left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 30px;

        p {
            text-align: center;
            font-size: calc(25px + 2vmin);
        }

        &__countries {
            display: flex;
            flex-direction: column;
            gap: 5px;
            width: calc(100px + 50vmin);

            @media(max-width: 1080px) and (min-width: $mobile) {
                align-items: center;
                text-align: center;
            }
        }

        @media(max-width: 1080px) and (min-width: $mobile) {
            width: 50%;
            align-items: center;
        }
    }

    &__right {
        display: flex;
        margin-top: 50px;

        img {
            display: flex;
            max-height: 90vh;
        }

        @media(max-width: $mobile) {
            position: absolute;

            img {
                z-index: -1;
                width: 100%;
                height: 100vh;
                opacity: 0.1;
                object-fit: cover;
            }
        }

        @media(max-width: 1080px) and (min-width: $mobile) {
            img {
                width: 100%;
                object-fit: cover;
                height: 100%;
            }
        }

    }

    &__criar {
        display: flex;
        text-align: center;
        flex-direction: column;
        margin: 30px;
        font-size: calc(12px + 1vmin);
        color: $texto-secundario;

        button {
            text-decoration: none;
            border: none;
            background-color: transparent;
            font-size: calc(15px + 1vmin);
            cursor: pointer;
            transition: .3s;

            @media(min-width: $tablet) {
                &:hover {
                    color: $secondary;
                }
            }
        }
    }

}