@import "styles/variaveis";
@import "styles/breakpoints";

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;

    img {
        max-width: 553px;
        max-height: 263px;
        cursor: pointer;
    }
    &__title {
        color: $primary;
        font-size: calc(20px + 2vmin);
    }
    p {
        margin: 0;
    }
    &__inputs {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        row-gap: 20px;
    }
    &__password {
        color: $texto-secundario;
        font-size: calc(5px + 2vmin);
        padding: 15px;
        cursor: pointer;
        transition: .3s;

        @media(min-width: $tablet) {
            &:hover {
                color: $secondary;
            }
        }
    }
    &__criar {
        display: flex;
        text-align: center;
        flex-direction: column;
        margin: 30px;
        font-size: calc(9px + 1vmin);
        color: $texto-secundario;

        button {
            text-decoration: none;
            border: none;
            background-color: transparent;
            font-size: calc(10px + 1vmin);
            cursor: pointer;
            transition: .3s;
            @media(min-width: $tablet) {
                &:hover {
                    color: $secondary;
                }
            }
        }
    }
}
