@import "styles/variaveis";
@import "styles/breakpoints";

.input {
    width: calc(100px + 50vmin);

    &__bloco {
        width: calc(20px + 15vmin);
    }
}

.check {
    color: $texto;
    max-width: calc(50px + 50vmin);
}

.overlay {
    background-color: $background-footer;
    opacity: 0.3;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: fixed;
    z-index: 5;
    transition: all .5s;
}

.container {
    background-color: $color;
    box-shadow: 5px 5px 7px #888888;
    position: fixed;
    z-index: 6;
    padding: 50px;
    max-width: 1200px;
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-direction: column;
}

.lados {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}

.left {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.right {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;

    &__local {
        width: 600px;
        height: 300px;
        box-shadow: 5px 5px 7px #888888;
    }

    &__upload {
        font-size: calc(10px + 1vmin);
        padding: 15px;
        height: 50px;
        box-shadow: 5px 5px 7px #888888;
        cursor: pointer;

        img {
            height: calc(9px + 1vmin);
        }
    }
}