@import "styles/variaveis";
@import "styles/breakpoints";

.preenchimento {
    text-align: center;
    background-color: white;
    color: $secondary;
    border: 1.5px solid $secondary;
    height: fit-content;
    font-size: calc(10px + 1vmin);
    padding: 10px 20px;
    border-radius: 45px;
    cursor: pointer;
    transition: .3s;
    text-wrap: nowrap;
    &__dark {
        border:1.5px solid $primary;
        background-color: $primary;
        color: white;
    }
    &:hover {
        box-shadow: 3px 3px 3px grey;
    }

    @media(max-width: $mobile) {
        font-size: calc(9px + 1vmin);
    }
}