@import "styles/variaveis";
@import "styles/breakpoints";

.preenchimento {
    text-align: center;
    font-weight: bold;
    background-color: white;
    color: $secondary;
    border: 1.5px solid $secondary;
    height: fit-content;
    font-size: 15px;
    padding: 10px 20px;
    border-radius: 45px;
    cursor: pointer;
    transition: .2s ease-in;

    @media(max-width: $tablet) {
        font-size: 12px;
    }
    
    &__dark {
        border:1.5px solid $primary;
        background-color: $primary;
        color: white;
    }
    &:hover {
        box-shadow: 3px 3px 3px grey;
    }
}