@import "styles/variaveis";
@import "styles/breakpoints";

.pagina_editar {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: space-between;
    margin: 50px;
    flex-wrap: wrap;

    @media(max-width: $tablet) {
        justify-content: space-around;
    }

    @media(max-width: $mobile) {
        text-align: center;
    }
}

.user {
    text-align: center;

    &__editar {
        color: $texto-secundario;
        cursor: pointer;
        transition: 0.5s;

        &:hover {
            color: $primary;
        }
    }
}

.info {

    &__nome {
        font-size: calc(15px + 1vmin);
    }

    &__especialidade {
        font-size: calc(10px + 1vmin);

        img {
            height: calc(10px + 1vmin);
        }
    }

    &__regiao {
        font-size: calc(10px + 1vmin);
    }
}

.titulo_solicita {
    color: $secondary;
    text-align: center;
    font-size: calc(15px + 1vmin);
}