@import "styles/variaveis";
@import "styles/breakpoints";

.input {
    width: calc(100px + 50vmin);
}

.overlay {
    background-color: $background-footer;
    opacity: 0.3;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: fixed;
    z-index: 5;
    transition: all .5s;
}

.container {
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    padding: 20px;
    background-color: $color;
    z-index: 7;
    box-shadow: 5px 5px 7px #888888;
    height: 545px;

    form {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}

.especializacoes {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-y: auto;
    gap: 10px;

    &__especializacao {
        color: $color;
        display: flex;
        background-color: $secondary;
        min-width: 150px;
        gap: 10px;
        padding: 4px 8px 4px 8px;
        text-align: left;
        border-radius: 25px;
        justify-content: space-between;
        list-style-type: none;

        img {
            height: 20px;
            cursor: pointer;
        }
    }

}