@import "styles/variaveis";
@import "styles/breakpoints";

.certeza_candidatar {
    display: flex;
    justify-content: center;
}

.seta_volta {
    display: flex;
    justify-self: start;
    position: relative;
    width: 36px;
    height: 36px;
    cursor: pointer;
}

.textos {
    font-size: calc(15px + 1vmin);
    text-align: center;
    align-self: center;

    @media(min-width: $tablet) {
        margin: 20px;
    }
}

.container {
    display: flex;
    flex-direction: column;
    height: auto;
    margin: 25px;
    gap: 20px;
    justify-content: center;
}

.info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &__titulo {
        max-width: 500px;
        text-align: center;
        padding: 20px;
        font-size: calc(30px + 1vmin);
        color: $secondary;

        @media(max-width: $mobile) {
            font-size: calc(15px + 3vmin);
        }
    }

    &__desc {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 25px;
        gap: 30px;

        &__serviceImg {
            width: calc(500px + 15vmin);
            height: auto;
            border-radius: 25px;

            @media(max-width: $mobile) {
                width: 110%
            }
        }
        @media(max-width: $mobile) {
            flex-direction: column;
        }

    }

    p {
        text-align: center;
        color: $texto_secundario;
        max-width: 650px;
        font-size: calc(20px + 1vmin);

        @media(max-width: $mobile) {
            font-size: calc(10px + 2vmin);
        }
    }
}
.logotipo {
    border-radius: 50px;
    width: 100px;
    height: 100px;
    @media(max-width: $mobile) {
        align-self: center;
    }
}