@import "styles/variaveis";
@import "styles/breakpoints";

.corpo {
    background-color: $backgrounds;
    border-radius: 25px;
    box-shadow: 5px 5px 7px #888888;
    height: auto;
    padding: 15px;
    max-width: 500px;
    text-align: center;
}
.top{
    display: flex;
    align-items: center;
    justify-content: space-around;
    &__img {
        @media(max-width: $tablet) {
            height: 88px;
            width: 155px;
        }
        @media(max-width: $mobile) {
            max-height: 78px;
            max-width: 140px;
        }
        height: 114px;
        width: 175px;
        border-radius: 30px;
    }
    &__text {
        color: $texto;
        max-width: 300px;
        font-weight: bold;
    }
}
.descricao {
    color: $texto_secundario;
    font-size: calc(7px + 1vmin);
    min-height: 50px;
}
