@import "styles/variaveis";
@import "styles/breakpoints";

.conjunto {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.premium {
    position: absolute;
    z-index: 2;
    height: 50px;
    transform: translateY(50%);
}

.corpo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 15px;
    background-color: $backgrounds;
    border-radius: 25px;
    box-shadow: 5px 5px 7px #888888;
    height: auto;
    padding: 15px;
    max-width: 400px;
    text-align: center;

    @media(min-width: $tablet) {
        min-width: 400px
    }
}

.top {
    display: flex;
    align-items: center;
    gap: 10px;

    &__img {
        @media(max-width: $tablet) {
            height: 88px;
            width: 155px;
        }

        @media(max-width: $mobile) {
            max-height: 78px;
            max-width: 140px;
        }

        height: 114px;
        width: 175px;
        border-radius: 100px;
    }

    &__textos {
        display: flex;
        text-wrap: wrap;
        flex-direction: column;
    }

    &__text {
        color: $texto;
        max-width: 300px;
        font-size: calc(10px + 1vmin);
        font-weight: bold;

        @media(min-width: $tablet) {
            min-width: 200px;
        }
    }

    &__descStar {
        color: $texto;
        font-size: calc(10px + 1vmin);
        width: 100%;
        height: 40px;
        overflow: hidden;
        text-overflow: ellipsis;

        @media(min-width: $tablet) {
            min-width: 200px;
        }
    }
}

.descricao {
    color: $texto_secundario;
    font-size: calc(8px + 1vmin);
    width: 100%;
    min-height: 50px;
}

.classification {
    display: flex;
    align-items: center;
    gap: 5px;

    &__star {
        height: 30px;
        width: 30px;
    }
}