@import "styles/variaveis";
@import "styles/breakpoints";

.export {
    input[type="file"] {
        display: none;
    }

    label {
        color: $secondary;
        cursor: pointer;
        transition: .5s;

        &:hover {
            color: $primary;
        }
    }
}
