@import "styles/variaveis";
@import "styles/breakpoints";

.container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    box-shadow: 5px 5px 7px #888888;
    background-color: $backgrounds;
    width: 200px;

    &__header {
        background-color: $secondary;
        padding: 5px;
        color: white;
    }

    &__valor {
        font-weight: bold;
        padding: 5px;
    }

    &__body {
        color: $texto-secundario;
        padding: 5px;
        font-size: calc(10px + 1vmin);
    }

    &__btn {
        padding: 5px;
    }
}