@import "styles/variaveis";
@import "styles/breakpoints";

.container {
    display: flex;
    justify-content: flex-end;
    z-index: 5;
}

.header {
    background-color: $backgrounds;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: 5px 5px 7px #888888;
}

.title {
    align-self: start;
}
.img {
    height: 87px;
    width: 183px;
}
.user {
    height: 70px;
    padding-right: 30px;
}

.hamburguer {
    display: none;
    @media(max-width: $tablet) {
        display: block;
    }
    padding: 20px;
}

.menu {
    display: flex;
    padding: 20px 20px;
    &__list {
        @media(max-width: $mobile) {
            display: none;
        }
        align-items: center;
        display: flex;
    }

    &__link {
        list-style-type: none;
        padding: 0 20px;

        button {
            color: $texto;
            cursor: pointer;
            background-color: transparent;
            font-size: calc(5px + 2vmin);
            font-weight: 500;
            text-decoration: none;
            transition: .2s ease;
            border: 0;
            &:hover {
                color: $secondary;
            }
        }
        p {
            color: $secondary;
            font-size: calc(5px + 2vmin);
            font-weight: 500;
            text-decoration: none;
        }
    }

    &__buttons {
        @media(max-width: $tablet) {
            display: none;
        }
        align-items: center;
        display: flex;
    }
    &__button {
        list-style-type: none;
        padding: 0 10px;
    }
}