@import "styles/variaveis";
@import "styles/breakpoints";

.container {
    display: flex;
    justify-content: flex-end;
    z-index: 5;
}

.header {
    background-color: $backgrounds;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: 5px 5px 7px #888888;
}

.title {
    align-self: start;
}
.img {
    height: auto;
    width: calc(100px + 15vmin);
    cursor: pointer;
}
.user {
    height: 70px;
    width: 70px;
    border-radius: 50px;
    margin-right: 30px;
    object-fit: cover;
    cursor: pointer;
}

.hamburguer {
    display: none;
    width: calc(70px + 2vmin);
    @media(max-width: $tablet) {
        display: block;
    }
    padding: 20px;
}

.menu {
    display: flex;
    padding: 20px 20px;
    &__list {
        @media(max-width: $mobile) {
            display: none;
        }
        align-items: center;
        display: flex;
        text-wrap: nowrap;
    }

    &__link {
        list-style-type: none;
        padding: 0 20px;
        font-weight: 500;
        text-decoration: none;

        button {
            color: $texto;
            cursor: pointer;
            padding: 0;
            background-color: transparent;
            font-size: calc(5px + 2vmin);
            transition: .3s;
            border: 0;
            &:hover {
                color: $secondary;
            }
        }
        p {
            color: $secondary;
            font-size: calc(5px + 2vmin);
        }
    }

    &__buttons {
        @media(max-width: $tablet) {
            display: none;
        }
        align-items: center;
        display: flex;
    }
    &__button {
        list-style-type: none;
        padding: 0 10px;
    }
}