@import "styles/variaveis";
@import "styles/breakpoints";

.caixa {
    height: 300px;
    overflow-y: auto;
}

.titulo {
    font-weight: bold;

    &__inscricao {
        color: #5590EA;
    }

    &__abandono {
        color: #BAB310;
    }

    &__concluido {
        color: #369227;
    }

    &__cancelado {
        color: #9D1010;
    }

    &__convite {
        color: #109d8f;
    }
}

.textoDescritivo {
    display: flex;
    list-style-type: none;

    &__delete {
        right: 0;
        justify-self: flex-end;
        align-self: flex-end;
        cursor: pointer;
        transition: .5s;

        &:hover {
            color: $primary;
        }

        @media(max-width:300px) {
            align-self: center;
        }
    }

    &__link {
        color: $secondary;
        cursor: pointer;
        transition: .5s;

        &:hover {
            color: $primary;
        }

    }

    @media(max-width:$mobile) {
        flex-direction: column;
    }
}