@import "styles/variaveis";
@import "styles/breakpoints";

.input {
    width: calc(100px + 50vmin);

    &__mail {
        width: calc(90px + 25vmin);
    }

    &__phone {
        width: calc(50px + 25vmin);
    }

    &__about {
        width: calc(150px + 50vmin);
    }
}

.check {
    color: $texto-secundario;
    max-width: calc(50px + 50vmin);
}

.buttons {
    display: flex;
    gap: 20px;
}

.overlay {
    background-color: $background-footer;
    opacity: 0.3;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: fixed;
    z-index: 5;
    transition: all .5s;
}

.container {
    display: flex;
    position: absolute;
    align-items: center;
    flex-wrap: wrap;
    background-color: $color;
    box-shadow: 5px 5px 7px #888888;
    max-width: 1200px;
    height: auto;
    padding: 50px;
    z-index: 6;
    gap: 10px;
    justify-content: center;
    margin: 50px;
}

.countries {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: calc(100px + 50vmin);
}

.bloco_servicos {
    padding: 20px;
    position: absolute;
    z-index: 1;
    background-color: $color;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
    max-width: 390px;
    box-shadow: 5px 5px 7px #888888;

    &__input {
        width: calc(75px + 10vmin);
    }
}