@import "styles/variaveis";
@import "styles/breakpoints";

.titulo {
    color: $texto;
    margin-bottom: 20px;
}

.container {
    display: flex;
    align-items: center;
    background-color: $backgrounds;
    height: auto;
    min-width: 300px;
    padding: 20px;
    gap: 5px;
    flex-direction: column;
    position: absolute;
    box-shadow: 5px 5px 7px #888888;
    z-index: 5;
    @media(max-width: $mobile) {
        width: 100%;
    }
    
}