@import "styles/variaveis";
@import "styles/breakpoints";

.background {
    display: flex;
    justify-content: center;
    text-align: center;
}

.container {
    display: flex;
    background-color: $backgrounds;
    gap: 5px;
    flex-direction: column;

    @media(max-width: $mobile) {
        width: 100%;
    }

}