@import "styles/variaveis";
@import "styles/breakpoints";

.container {
    background-color: $background-footer;
    text-align: center;
    padding: 30px 30px 10px 30px;
    margin-top: 100px;

    button,
    p,
    li,
    a {
        border: none;
        text-decoration: none;
        background-color: transparent;
        margin: 0;
        color: $color;
        font-size: calc(6px + 2vmin);
    }
}

.background {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;

    &__logotipo {
        height: calc(30px + 10vmin);
    }

    &__dev {
        display: flex;
        flex-direction: column;
    }
}

.atribuicoes {
    display: flex;
    flex-direction: column;
    margin: 15px;

    li {
        font-size: calc(9px + 1vmin);
        text-align: start;
    }

    a {
        li {
            transition: 0.5s;
            cursor: pointer;

            &:hover {
                color: $texto-secundario;
            }
        }
    }
}

.server {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.social {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
    gap: 15px;

    img {
        height: calc(10px + 5vmin);
        background-color: white;
        border-radius: 100px;
        border-style: solid;
        cursor: pointer;
    }
}