@import "styles/variaveis";
@import "styles/breakpoints";

.overlay {
    background-color: $background-footer;
    opacity: 0.3;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: fixed;
    z-index: 5;
    transition: all .5s;
}

.container {
    display: flex;
    flex-wrap: wrap;
    font-weight: bold;
    position: fixed;
    align-self: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    background-color: $color;
    z-index: 10;
    max-width: 430px;
    box-shadow: 5px 5px 7px #888888;
}

.buttons {
    display: flex;
    gap: 20px;
}