@import "styles/variaveis";
@import "styles/breakpoints";

.input {
    width: calc(100px + 50vmin);
}
.overlay{
    background-color: $background-footer;
    opacity: 0.3;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: fixed;
    z-index: 5;
    transition: all .5s;
 }
.container {
    display: flex;
    flex-direction: column;
    background-color: #f6f6f6;
    box-shadow: 5px 5px 7px #888888;
    width: auto;
    height: auto;
    padding: 20px;
    align-items: center;
    position: fixed;
    z-index: 500;
    transition: all .5s;
    
    p {
        color: $secondary;
        font-size: calc(15px + 1vmin);
        padding: 20px;
    }
    &__buttons {
        display: flex;
        gap: 40px;
    }
}